/*index.css*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
  background-image: url('bg6.gif');
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  align-self: right;
}


/* √‰„«ÿ ·√ÌﬁÊ‰… «·„”«⁄œ… */
.assistant-icon {
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: fixed;
    left: 10px;
    bottom: 120px;
    width: 70px; /* ÕÃ„ «·√ÌﬁÊ‰… */
    height: 70px; /* ÕÃ„ «·√ÌﬁÊ‰… */
    background-image: url('bot2.png'); /* «” Œœ«„ ’Ê—… «·»Ê  ﬂŒ·›Ì… */
    background-size: cover; /* ·÷„«‰  €ÿÌ… «·Œ·›Ì… ﬂ«„·… */
    background-position: center; /*  Ê”Ìÿ «·’Ê—… */
    border-radius: 50%; /* ·Ã⁄· «·“— œ«∆—Ì */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* ≈÷«›… Ÿ· ··“— */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.assistant-icon:hover {
     transform: scale(1.1); /* ÌÃ⁄· «·√ÌﬁÊ‰… √ﬂ»— ﬁ·Ì·« */
    background-color: #495057; /*  €ÌÌ— ·Ê‰ «·Œ·›Ì… ⁄‰œ  „—Ì— «·„«Ê” */
}
.chat-bot-sidebar {
  height: 100%;
  width: 0; /* «·ﬁ”„ «·Ã«‰»Ì „Œ›Ì »‘ﬂ· «› —«÷Ì */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff; /* €Ì— «··Ê‰ Õ”»  ›÷Ì·ﬂ */
  overflow-x: hidden;
  transition: 0.5s; /*  √ÀÌ— «‰ ﬁ«· ”·” ⁄‰œ › Õ/≈€·«ﬁ «·‘«  »Ê  */
  padding-top: 60px; /* √Ê ÷»ÿ Õ”»  ›÷Ì·ﬂ */
}
/* √‰„«ÿ ·—”«∆· «· ‰»ÌÂ */
.alert {
  position: fixed; /*  À»Ì  «· ‰»ÌÂ ›Ì «·√⁄·Ï */
  top: 60px; /*  ⁄œÌ· Â–Â «·ﬁÌ„… Õ”» «— ›«⁄ ‘—Ìÿ «· ‰ﬁ· */
  right: 0;
  left: 0;
  z-index: 1030; /* ÷„«‰ ŸÂÊ— «· ‰»ÌÂ ›Êﬁ «·⁄‰«’— «·√Œ—Ï */
  border-radius: 0; /* ≈“«·… «·ÕœÊœ «·„‰Õ‰Ì… */
  text-align: center; /*  Ê”Ìÿ ‰’ «· ‰»ÌÂ */
}


.myBtn {
  width: 30%;
  font-size: large;
  background-color: transparent;
  border: 2px solid white;
}

.myBtn:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: larger;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.links {
  position: fixed;
  width: 70px;
  margin-top: 25vh;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
}

.links li {
  height: 60px;
  position: relative;
}

.links li a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  transition: all .3s linear;
}

.links li a i {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}

ul li a span {
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.link:hover {
  z-index: 1;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

ul li:hover a span {
  padding-left: 30%;
  display: block;
}
.log{
  color: white;
}
.log:hover{
  color: blue;
  text-decoration: none;
}